<section id="about-us-section">

    <div class="container">
        <hr class="header-line-1">

        <div class="container-about-us-header">
            <div class="about-us-header-column">
                <h1>@Localizer["about-us-title"].</h1>
                <h4>@Localizer["about-us-subtitle"]</h4>
            </div>
            <div class="about-us-text-column">
                <p>@Localizer["about-us-title-text"]</p>
                <p>@Localizer["about-us-title-text-ono"]</p>
            </div>
        </div>

        <div class="container-about-us-images">
            <div class="container-about-us-big-left">
                <div class="container-about-us-big-left-image">
                    <div class="container-about-us-image-content">
                        <div>
                            <h2>@Localizer["about-us-our-studio-header"]</h2>
                            <p>@Localizer["about-us-our-studio-text"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-about-us-big-right">
                <div class="container-about-us-big-right-image-one">
                    <div class="container-about-us-image-content">
                        <div>
                            <h2>@Localizer["about-us-our-team-header"]</h2>
                            <p>@Localizer["about-us-our-team-text"]</p>
                        </div>
                    </div>
                </div>
                <div class="container-about-us-big-right-image-two">
                    <div class="container-about-us-image-content">
                        <div>
                            <h2>@Localizer["about-us-our-walls-header"]</h2>
                            <p>@Localizer["about-us-our-walls-text"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-about-us-three-columns">
            <div>
                <h2>@Localizer["about-us-who-we-are-header"]</h2>
                <p>@Localizer["about-us-who-we-are-text"]</p>
            </div>
            <div>
                <h2>@Localizer["about-us-how-we-work-header"]</h2>
                <p>@Localizer["about-us-how-we-work-text"]</p>
            </div>
            <div>
                <h2>@Localizer["about-us-our-philosophy-header"]</h2>
                <p>@Localizer["about-us-our-philosophy-text"]</p>
            </div>
        </div>

    </div>

</section>