<section id="portfolio-section">
    <div class="container">
        <hr class="header-line-1">
        <h1>@Localizer["portfolio-title"].</h1>
        <h4>@Localizer["portfolio-subtitle"]</h4>
        <div class="owl-carousel-portfolio owl-carousel owl-theme">
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/01.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-1"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-1"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="2" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/02.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-2"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-2"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="3" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/03.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-3"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-3"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="1" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/04.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-4"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-4"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="1" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/05.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-5"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-5"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="1" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/06.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-6"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-6"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="3" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/07.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-7"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-7"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="3" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/08.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-8"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-8"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="3" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/09.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-9"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-9"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="4" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/10.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-10"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-10"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="1" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/11.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-11"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-11"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="3" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/12.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-12"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-12"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="5" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/13.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-13"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-13"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="3" />
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/14.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">@Localizer["portfolio-item-header-14"]</div>
                    <div class="portfolio-item-description">@Localizer["portfolio-item-description-14"]</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger">@Localizer["portfolio-item-order-button"]</a>
                        <input type="hidden" value="3" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>