<section id="products-section">

    <div class="container">

        <hr class="header-line-1">
        <h1>@Localizer["products-title"].</h1>
        <h4>@Localizer["products-subtitle"]</h4>

        <div class="container-products">

            <div class="product-item">
                <div class="flip">
                    <div class="front" onclick="void(0)" style="background-image: url(/img/products/01_lamps.jpg)">
                    </div>
                    <div class="back" onclick="void(0)" style="background-image: url(/img/products/01_lamps_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["products-lamps-description"]</p>
                        </div>
                        <a class="product-button md-trigger">@Localizer["products-order-button"]</a>
                        <input type="hidden" value="1" />
                    </div>
                </div>
                <div class="product-item-header">@Localizer["products-lamps-header"]</div>
            </div>

            <div class="product-item">
                <div class="flip">
                    <div class="front" onclick="void(0)" style="background-image: url(/img/products/02_frames.jpg)">
                    </div>
                    <div class="back" onclick="void(0)" style="background-image: url(/img/products/02_frames_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["products-framework-description"]</p>
                        </div>
                        <a class="product-button md-trigger">@Localizer["products-order-button"]</a>
                        <input type="hidden" value="2" />
                    </div>
                </div>
                <div class="product-item-header">@Localizer["products-framework-header"]</div>
            </div>

            <div class="product-item">
                <div class="flip">
                    <div class="front" onclick="void(0)" style="background-image: url(/img/products/03_bigflowers.jpg)">
                        <h2>@Localizer["products-order-rental-sticker"]</h2>
                    </div>
                    <div class="back" onclick="void(0)" style="background-image: url(/img/products/03_bigflowers_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["products-bigflowers-description"]</p>
                        </div>
                        <a class="product-button md-trigger">@Localizer["products-order-button"]</a>
                        <input type="hidden" value="3" />
                    </div>
                </div>
                <div class="product-item-header">@Localizer["products-bigflowers-header"]</div>
            </div>

            <div class="product-item">
                <div class="flip">
                    <div class="front" onclick="void(0)" style="background-image: url(/img/products/04_wings.jpg)">
                        <h2>@Localizer["products-order-rental-sticker"]</h2>
                    </div>
                    <div class="back" onclick="void(0)" style="background-image: url(/img/products/04_wings_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["products-wings-description"]</p>
                        </div>
                        <a class="product-button md-trigger">@Localizer["products-order-button"]</a>
                        <input type="hidden" value="4" />
                    </div>
                </div>
                <div class="product-item-header">@Localizer["products-wings-header"]</div>
            </div>

            <div class="product-item">
                <div class="flip">
                    <div class="front" onclick="void(0)" style="background-image: url(/img/products/05_walls.jpg)">
                        <h2>@Localizer["products-order-rental-sticker"]</h2>
                    </div>
                    <div class="back" onclick="void(0)" style="background-image: url(/img/products/05_walls_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["products-walls-description"]</p>
                        </div>
                        <a class="product-button md-trigger">@Localizer["products-order-button"]</a>
                        <input type="hidden" value="5" />
                    </div>
                </div>
                <div class="product-item-header">@Localizer["products-walls-header"]</div>
            </div>

            <div class="product-item">
                <div class="flip">
                    <div class="front" onclick="void(0)" style="background-image: url(/img/products/06_material.jpg)">
                    </div>
                    <div class="back" onclick="void(0)" style="background-image: url(/img/products/06_material_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["products-material-description"]</p>
                        </div>
                        <div class="product-description-container">
                            <ul>
                                <li>@Localizer["products-material-description-1"]</li>
                                <li>@Localizer["products-material-description-2"]</li>
                                <li>@Localizer["products-material-description-3"]</li>
                                <li>@Localizer["products-material-description-4"]</li>
                                <li>@Localizer["products-material-description-5"]</li>
                            </ul>
                        </div>
                        <a class="product-button md-trigger">@Localizer["products-order-button"]</a>
                        <input type="hidden" value="6" />
                    </div>
                </div>
                <div class="product-item-header">@Localizer["products-material-header"]</div>
            </div>

        </div>

    </div>

</section>