<section id="testimonials-section">
    <div class="container">
        <hr class="header-line-1">
        <h1>@Localizer["testimonials-title"].</h1>
        <h4>@Localizer["testimonials-subtitle"]</h4>
        <div class="owl-carousel-testimonials owl-carousel owl-theme">
            <div class="testimonials-container">
                <div class="testimonials-box">
                    <div class="image-box">
                        <img src="/img/testimonials/01.jpg">
                    </div>
                    <p>@Localizer["testimonial-one-text"]</p>
                    <h4>@Localizer["testimonial-one-author"]<br><span>@Localizer["testimonial-one-company"]</span></h4>
                </div>
            </div>
            <div class="testimonials-container">
                <div class="testimonials-box">
                    <div class="image-box">
                        <img src="/img/testimonials/02.jpg">
                    </div>
                    <p>@Localizer["testimonial-two-text"]</p>
                    <h4>@Localizer["testimonial-two-author"]<br><span>@Localizer["testimonial-two-company"]</span></h4>
                </div>
            </div>
            <div class="testimonials-container">
                <div class="testimonials-box">
                    <div class="image-box">
                        <img src="/img/testimonials/03.jpg">
                    </div>
                    <p>Ļoti priecājos par vērtīgo sūtījumu, kas izdaiļos manu mājokli un priecēs manu ikdienu. Lielisks antidepresants tumšajos un garajos vakaros. Brīnišķīgs AuraDecor roku darbs, patīkams un ērts apkalpošanas serviss. AuraDecor, veiksmi!</p>
                    <h4>Dzintra Danilevich<br><span></span></h4>
                </div>
            </div>
            <div class="testimonials-container">
                <div class="testimonials-box">
                    <div class="image-box">
                        <img src="/img/testimonials/04.jpg">
                    </div>
                    <p>
                        Ich habe besonders schöne Blumenobjekte vom DEKOR-STUDIO bei mir zuhause. Eine davon ist eine Fantasieblume in einer leuchtenden, roten Farbe und hat einen starken, dekorativen Effekt in meinem Ambiente. Die Ranunkelblüte ist eine zarte, filigran gearbeitete Lampe in weiß – grüner Farbkombination mit unterschiedlich einstellbarem Licht. Mir persönlich gefällt die orange – rote Beleuchtung am besten. Die Wirkung ist so romantisch, gemütlich und stylisch. Die beiden Objekte sind eine fantasievolle, professionelle Handarbeit. Sie können richtig faszinieren und beeindrucken!
                    </p>
                    <h4>Nadya H.<br><span></span></h4>
                </div>
            </div>
        </div>
    </div>
</section>